*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Verdana' , sans-serif;
}

.row{
	width: 100%;
}

.title-web{
	text-align: center;
	margin-bottom: 40px;
}

.container-fluid{
	position: relative;
	top: 50px;
	margin: 20px;
	padding: 5px;
}

.object{
	position: relative;
	top: 0;
	background-color: #E0E0E0;
	margin: 20px;
	padding: 20px;
	border: 3px solid #000;
}

.object p{
	margin-top: 30px;
	text-align: justify;
	font-size:100%;

}

.object-title{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 50px;
	background:yellow;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#one{
	background-color: #00FFFF;
}

#two{
	background-color: #FF99FF;
}

#three{
	background-color: #FFFF66;
}

/*----------for desktop ---------------*/
@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }


}

/*------------------Medium devices like tablet------*/

@media (min-width: 768px) and (max-width: 991px){

	.col-lg-4 {
    width: 50%;
    float: left;
  }
  .col-lg-tablet{
   width: 100%;
   float: left;
 }

}


/*-----Mobile-----*/

@media (max-width: 767px){
	.col-lg-4{
    width: 100%;
    float: left;
  }
}
